<mat-nav-list>
    <a mat-list-item  (click)="onSidenavClose()">
        <mat-icon>list</mat-icon> <span class="nav-caption">Destinations</span>
    </a>
    <a mat-list-item  (click)="onSidenavClose()">
        <mat-icon>picture_in_picture</mat-icon> <span class="nav-caption">Photos</span>   
    </a>
    <a mat-list-item  (click)="onSidenavClose()">
        <mat-icon>explore</mat-icon><span class="nav-caption">Maps</span>
    </a>
    <a mat-list-item  (click)="onSidenavClose()">
        <mat-icon>lock</mat-icon><span class="nav-caption">Login</span>
    </a>
  </mat-nav-list>
