<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a>Simaps Angular</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="50px" class="navigation-items">
          <li>
              <a>Owner Actions</a>
          </li>
          <li>
              <a>Account Actions</a>
          </li>
      </ul>
  </div>
</mat-toolbar>


<!--   <div *ngIf="dashboard">
    <button mat-raised-button color="accent" (click)="toggle()" routerLink="main">Try it out now !</button>
  </div>

  <div *ngIf="!dashboard">
    <button mat-raised-button color="accent" (click)="toggle()" routerLink="dashboard">Go back to dashboard</button>
  </div> -->










