
.custom-header {
    background-color: #242729;
}

.title {
    color: #FDFFE3;
    padding-right: 1.8em;
    padding-left: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 1.4em;
    border-right-style: solid;
    border-right-width: 2px;
}
.subtitle {
    color: #FDFFE3;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 1em;
}

.navigation-items {
    color: #FDFFE3;
    list-style-type: none;
    padding: 2em;
    margin: 0;
}

button.mat-button {
    font-size: 1em;
    padding: 0.6em;
}

::ng-deep .custom {
    border-radius: 0px;
    margin-top: 1em;
  }

button.mat-menu-item {
    font-size: 1.1em;
}

button.mat-icon-button {
    color: #FDFFE3;
}

button.mat-button:hover, button.mat-button:active {
    color: #D3741C;
}

mat-toolbar{
    border-radius: 3px;
    position: relative;
}

@media(max-width: 600px){
    mat-toolbar{
        border-radius: 0px;
    }
}




