<mat-toolbar class="custom-header">
    <div fxHide.gt-md>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a class="title">Simaps Angular</a>
    </div>
    <div>
        <a class="subtitle">My first Angular project</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-lg>
        <ul fxLayout fxLayoutGap="2em" class="navigation-items">
            <li>
                <button mat-button [matMenuTriggerFor]="destinations">Destinations</button>
                <mat-menu #destinations="matMenu" class="custom">
                    <button mat-menu-item>Cuba</button>
                    <button mat-menu-item>Guatemala</button>
                    <button mat-menu-item>Argentina</button>
                </mat-menu>
            </li>
            <li>
                <button mat-button>Photos</button>
            </li>
            <li>
                <button mat-button (click)="goMaps()">Maps</button>
            </li>
            <li>
                <button mat-button>Login</button>
            </li>
            <li>
                <button mat-icon-button (click)="goBackDashboard()">
                    <mat-icon>home</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>











